.navbar {
    text-align: center;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 0px 20px;
}

.navbar li a {
    padding: 3px 3px;
}

.navbar li a:hover {
    color: red
}

.footer {
    padding: 10px;
    background-color: #ddd;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
}

section {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

article p {
    text-align: left;
    padding: 3px 3px;
}